<div class="center">
<h1>Welcome</h1>
<div class="main_img">
</div>
<br />

<p style="font-size: 20px;">This is a simple application to for you and your friends to track what courses you've played</p>

<br />

</div>
